.vignette {
  position: relative;
  display:inline-block;
  width: 334px;
  height: 334px;
  margin: 0;
  margin-top: -10px;
  overflow: hidden;
  border: solid 1px grey;
  background-color: #011010;
}

table {
  background-color: #050d0e;
  margin: 10px;
}

table, tr {
  width: 100%;
}


mat-card {
  background-color: black;
}


app-input {
  width: 90%;
  max-width: 200px;
  display: inline-block;
}

button {
  width:140px;
  margin: 10px;
}

.icon-button {
  width:45px;
}


mat-expansion-panel {
  width:90%;
  text-align: center;
  background-color: black;
  max-width: 1000px;
  min-width: 350px;
  display: inline-block;
}

hr {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}
