
<app-intro message="Create your NFT in one minute"></app-intro>
<app-hourglass [message]="message"></app-hourglass>

<app-cropper *ngIf="showCrop" [visual]="visual" (update_visual)="crop($event)"></app-cropper>

<div class="mainform" [style.pointer-events]="message=='' ? 'all' : 'none'" [style.opacity]="message=='' ? 1 : 0.3" *ngIf="!showCrop">


  <div *ngIf="visual && !user.isConnected(false)" >
    You need to login your wallet to built a NFT
  </div>
  <br>

  <app-source *ngIf="visual==''" (update_visual)="update_visual($event)">
  </app-source>



  <div *ngIf="visual!=''">

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>Main</mat-expansion-panel-header>

        <app-input label="NFT Name" [value]="name" value_type="text" (valueChange)="name=$event"></app-input>
        <app-input label="Quantity" [value]="quantity"
                   *ngIf="!sel_collection || sel_collection.value.subType=='SemiFungibleESDT'"
                   value_type="number" (valueChange)="quantity=$event"></app-input>
        <br>

        <div class="vignette" (dblclick)="edit_image($event)">
          <img [src]="visual" class="centered-image" #img
               [title]="visual+'(zoom:'+zoom+')'">

<!--          [style.height]="(h*zoom)+'px'" [style.width]="(w*zoom)+'px'"-->
<!--          [style.left]="x+'px'" [style.top]="y+'px'"-->

        </div>
        <br>
        <button mat-raised-button title="Start a new NFT" (click)="reset_image()">Reset</button>
        <button mat-raised-button title="Crop the picture" (click)="open_crop()">Crop</button>
        <button mat-raised-button *ngIf="visual.startsWith('http')" (click)="convert_to_base64()">
          <div class="bloc-button">Create<br>a copy</div>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel >
        <mat-expansion-panel-header>Properties</mat-expansion-panel-header>

        <app-input label="Description" [value]="description" style="width: 80%;max-width: 700px;"
                   value_type="text" (valueChange)="description=$event"></app-input>

        <br>
        <app-input label="Royalties" [value]="royalties" [min]="0" [max]="100" unity="%"
                   style="width: 80%;max-width: 700px;"
                   value_type="slider" (valueChange)="royalties=$event"></app-input>

      </mat-expansion-panel>

      <br>
      <mat-expansion-panel>
        <mat-expansion-panel-header>Metadata & Ressources</mat-expansion-panel-header>

        <app-input label="Tags" [value]="tags"
                   value_type="text" (valueChange)="tags=$event"></app-input>
        <br>

        <button mat-raised-button (click)="add_property()">
          <mat-icon>add</mat-icon>Metadata
        </button>

        <table style="width: 100%;">
          <tr *ngFor="let prop of properties" >
            <td (click)="update_prop(prop,'name')" style="width: 47%;text-align: left;">{{prop.name}}</td>
            <td (click)="update_prop(prop,'value')" style="width: 47%;text-align: right;">{{prop.value}}</td>
            <td style="width:6%;min-width:30px;text-align: right;">
              <mat-icon style="margin-bottom: -6px;" (click)="delete_prop(prop)">cancel</mat-icon>
            </td>
          </tr>
        </table>
        <br>

        <json-editor [data]="metadata" *ngIf="level(3)"
                     style="min-width: 350px;max-width: 800px;width: 100%;"></json-editor>

        <br>
        <div style="display: flex;align-items: center;justify-content: center;width:100%;">
          <button mat-raised-button (click)="add_uri()">
            <mat-icon>add</mat-icon>Ressources
          </button>
          <div style="display: block;width:100px;height:20px;margin-top:-13px;" *ngIf="level(2)">
            <app-upload-file (uploaded)="add_files($event)">
              <mat-icon style="margin-bottom: -5px;margin-left: -10px;">add</mat-icon>Files
            </app-upload-file>
          </div>
        </div>


        <br>
        <table style="width: 100%;">
          <tr *ngFor="let uri of uris" style="width: 100%;">
            <td style="width: 80%;text-align: left;">{{uri}}</td>
            <td style="width: 10%;text-align: right;">
              <mat-icon (click)="update_uri(uri)">edit</mat-icon>
              <mat-icon (click)="delete_uri(uri)">cancel</mat-icon>
            </td>
          </tr>
        </table>
        <br>

      </mat-expansion-panel>

    </mat-accordion>

  </div>

  <br>
  <div *ngIf="!user.isConnected() && visual!=''" style="display: inline-flex;width: 100%;align-content: center;justify-content: center;">

    <app-upload-file filter="pem" title="Upload a PEM file" style="display: inline-block;width:150px;"
                     *ngIf="level(2)"
                     (uploaded)="upload_pem($event)">Your PEM file</app-upload-file>
    <button mat-raised-button (click)="login()"
            style="margin-top: -2px;">
      Wallet login
    </button>

  </div>
  <div *ngIf="visual.length>0">

    <button *ngIf="sel_collection && visual!=''" mat-raised-button
            style="width:200px;height:70px;margin-top:-10px;margin-bottom: 15px;"
            (click)="Create_NFT()">
      <div style="font-size: medium;margin-bottom: -10px;">
        Build this NFT
        <br>
        <mat-icon>arrow_downward</mat-icon>

      </div>


    </button>

    <br>
    <mat-card style="text-align: center;max-width: 1200px;display:inline-block;padding: 15px;" *ngIf="user.isConnected(false)">
      <div style="display: inline-flex;align-items: center;justify-content: center;" >

          {{user.address.substring(0,10)+"..."+user.address.substring(user.address.length-10)}}
          &nbsp;
        <button mat-icon-button class="icon-button" (click)="view_account_on_gallery()" title="View all NFTs"><mat-icon>visibility</mat-icon></button>
        <button mat-icon-button class="icon-button" (click)="logout()" title="logout"><mat-icon>logout</mat-icon></button>
      </div>
      <br>

      <app-input label="Collection" value_type="list" style="display: inline-block;"
                 [value]="sel_collection" *ngIf="collections.length>0"
                 [options]="collections" (valueChange)="update_sel_collection($event)"></app-input>

      <div *ngIf="collections.length==0">You need a collection before mint a NFT<br><br></div>

        <button mat-raised-button (click)="build_collection()">Create Collection</button>
        <button mat-icon-button class="icon-button"*ngIf="sel_collection" (click)="set_roles_to_collection()"><mat-icon>build</mat-icon></button>
        <button mat-icon-button class="icon-button" *ngIf="sel_collection" (click)="view_on_gallery()"><mat-icon>visibility</mat-icon></button>

    </mat-card>
  </div>



</div>

