.vignette {
  display:inline-block;
  width:80vw;
  height: 80vw;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
}

app-input {
  width: 90%;
  max-width: 300px;
  display: inline-block;
}

button {
  width:150px;
}
