
<div class="mainform">

  <app-hourglass [message]="message" ></app-hourglass>
  <app-xportal-switch [uri]="user.uri_to_xportal"></app-xportal-switch>
  <br>

  <div *ngIf="url===''">
    <br>
    <img *ngIf="visual.length>0"
         [srcset]="visual"
         [title]="visual"
         style="width: 100px;height: 100px;">

    <br><br>
    <div style="font-size: large;">
      {{content.balance}} {{content.name}} available to share !
    </div>
    <br>

  </div>


  <br>

  <div *ngIf="url!=''">
    <h4 style="margin-top: 60px;">Share this link to send this content to friends</h4>
    <div style="padding: 15px;margin-bottom:40px;border: grey solid 2px;border-radius: 15px;font-size:clamp(15px, 2.2vw,30px);text-wrap: pretty; display: inline-block;width: 50%;max-width:550px;">
      {{url}}
      <mat-icon style="margin-bottom: -5px;margin-left:10px;"
                title="Copy this link"
                (click)="copy_url()">content_copy</mat-icon>
    </div>

    <mat-expansion-panel style="max-width:600px;display: inline-block;width:90%;margin-top:40px;">
      <mat-expansion-panel-header>Advanced settings</mat-expansion-panel-header>

      <qrcode [qrdata]="url"
              *ngIf="url.length>0"
              [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
      <p>This QR code corresponds to the sharing link of your NFT to be distributed</p>

      <br>
      <app-input value_type="text" [value]="title" (valueChange)="title=$event" label="Title of share"></app-input>
      <app-input value_type="text" [value]="description" (valueChange)="description=$event" label="Description / Introduction"></app-input>
    </mat-expansion-panel>

    <br>

  </div>



  <div style="width:100%;text-align:center;margin-top:20px;" *ngIf="message==''">
    <div *ngIf="url===''" style="display: inline-block;">
      <button mat-raised-button (click)="sell()">
        <mat-icon>paid</mat-icon>Sell
      </button>
      <button mat-raised-button (click)="transfer()">
        <mat-icon>link</mat-icon>Link to share
      </button>
    </div>

    <button mat-raised-button *ngIf="url!=''" (click)="on_share()">
      <mat-icon>share</mat-icon>Share
    </button>
    <button mat-raised-button (click)="quit()">
      <mat-icon>close</mat-icon>Close
    </button>
  </div>

</div>

