
<div style="display: block;position: fixed;right:0;top:0;height:50px;width:150px;text-align: right;z-index: 1000;background: none;">
  <button mat-icon-button *ngIf="h_zone>0 && w_zone>0" (click)="crop()"><mat-icon>crop</mat-icon></button>
  <button mat-icon-button (click)="force_square()"><mat-icon>square</mat-icon></button>
  <button mat-icon-button (click)="_rotate()"><mat-icon>turn_left</mat-icon></button>
  <button mat-icon-button (click)="cancel()"><mat-icon>cancel</mat-icon></button>
</div>

<div #imageZone style="position: fixed;width:100vw;height:100vh;display:inline-block;left:0;top:0;text-align: left;">

  <img draggable="false"  [src]="visual"
       [style.width]="w*zoom+'px'" [style.height]="h*zoom+'px'"
       (mousedown)="start_crop($event)" (mousemove)="update_crop_zone($event)" (mouseup)="define_zone=false"
       (touchstart)="start_crop($event)" (touchmove)="update_crop_zone($event)" (touchend)="define_zone=false">

  <div style="pointer-events: none;position:absolute;opacity: 0.4;background-color: #050d0e;z-index: 100;display: block;"
       [style.width]="w_zone+'px'" [style.height]="h_zone+'px'" [style.left]="x_zone+'px'" [style.top]="y_zone+'px'"></div>
</div>

