/* You can add global styles to this file, and also import other style files */

@import "jsoneditor/dist/jsoneditor.min.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mainform {
  width:100%;
  margin:0;
  padding:5px;
  display: block;
  position: relative;
  height: 100vh;
  color: #e8e8e8;
  background-color: #050e0e;
  text-align: center;
  overflow: scroll;
  scrollbar-width: none;
}

.bloc-button {
  line-height: 90%;
  font-size: small;
  text-align: center;
}

mat-expansion-panel-header {
  font-weight: bold !important;
  font-size: large !important;
}


@mixin expansion-panel {
  width:98%;
  text-align: center;
  background-color: black;
  max-width: 1000px;
  min-width: 350px;
  display: inline-block;
}


