/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mainform {
  width:400px;
  height: 600px;
  color: white;
  background-color: darkgrey;
  padding:10px;
  margin:0;
  text-align: center;
  overflow: scroll;
  scrollbar-width: none;
}
